/env
*.env

#migrations
api/migrations/*

# Ignore __pycache__ directories
**/__pycache__/

# Ignore frontend packages
frontend/node_modules/*
frontend/build/*
frontend/migrations/*

# Ignore spotify migrations
spotify/migrations/*